<a href="home">home</a>

<form action="" method="post">

    <input type="text" placeholder="firstName"> <br>
    <input type="text" placeholder="lastName"> <br>

    <input type="text"> <br>


    <button type="submit"> save staff</button>


</form>