<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Document</title>
</head>
<body>


    <h1> Welcome Admin Dashboard</h1>

<a href="addstaff"> Add staff</a> <br>
<a href="login"> Logout</a>


<table>
    <tr> 
        <th> firstName</th>
        <th> lastName</th>
        <th> Action</th>
        
        

    </tr>


    <tr>
        <td>Juan</td>
        <td>Pedro</td>

        <td>
            <a href="">delete</a>
            <a href="update">update</a>
            <a href="view">view</a>

        </td>
    </tr>
</table>
    
</body>
</html>