


.text-danger{
    font-size: 12px;
    font-weight: bold;
}



body {
    background-color: #f4f8fc;
}

.container {
    height: 100vh;
}

.heading {
    font-size: 2rem;
    color: #3a6d84;
    font-weight: bold;
}

.login-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-card h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}

.login-card .form-control {
    border-radius: 5px;
    padding: 12px;
    font-size: 1rem;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.login-card label{
    color: #6c757d
}

.login-card .btn-primary {
    background-color: #3a6d84;
    border: none;
    border-radius: 20px;
    padding: 10px 0;
    font-size: 1rem;
    width: 100%;
}

.login-card .btn-primary:hover {
    background-color: #2f5a6d;
}

.login-card .text-center a {
    color: #6c757d;
    font-size: 0.9rem;
    text-decoration: none;
}

.login-card .text-center a:hover {
    color: #3a6d84;
    text-decoration: underline;
}
